In [2]:
import pandas as pd
import statsmodels.api as sm

In [7]:
### Advertising.csv를 불러와 데이터 로드하기!
data = pd.read_csv("Advertising.csv",index_col = 0).reset_index(drop = True)
data.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [8]:
### Predictor Variable과 Response Variable을 설정해주세요!
response_variable = data["sales"]
predictor_variable = data[["TV", "radio", "newspaper"]]

In [9]:
### Multiple Linear Regression을 수행해봅시다!

predictor_variable = sm.add_constant(predictor_variable)
model = sm.OLS(response_variable, predictor_variable).fit()

summary_df = pd.DataFrame({
    "Coefficient": model.params,
    "Std. error": model.bse,
    "t-statistic": model.tvalues,
    "p-value": model.pvalues,
})

summary_df.rename(index={"const": "Intercept"}, inplace = True)

summary_df

           Coefficient  Std. error  t-statistic       p-value
Intercept     2.938889    0.311908     9.422288  1.267295e-17
TV            0.045765    0.001395    32.808624  1.509960e-81
radio         0.188530    0.008611    21.893496  1.505339e-54
newspaper    -0.001037    0.005871    -0.176715  8.599151e-01

In [10]:
### Correlation Matrix를 만들어 출력해주세요!
correlation_matrix = data.corr()
correlation_matrix

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000